docs/n8n-email-workflow-v2.json
{
  "meta": {
    "instanceId": "todo-app-workflow"
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "name": "Schedule",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:3001/api/external/todos",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY_HERE"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Todos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Filtrar tarefas com sendByEmail = true\nconst filtered = items.filter(item => {\n  const task = item.json;\n  return task.sendByEmail === true && \n         task.done !== true && \n         task.archived !== true &&\n         Array.isArray(task.emails) &&\n         task.emails.length > 0;\n});\n\nreturn filtered;"
      },
      "name": "Filter Tasks",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Processar cada tarefa\nconst output = [];\n\nfor (const item of items) {\n  const task = item.json;\n  \n  // Verificar horário se for envio diário\n  if (task.sendFrequency === 'daily') {\n    const now = new Date();\n    const currentHour = now.getHours().toString().padStart(2, '0');\n    const currentMinute = now.getMinutes().toString().padStart(2, '0');\n    const currentTime = `${currentHour}:${currentMinute}`;\n    const taskTime = task.sendTime || '09:00';\n    \n    const [taskHour, taskMinute] = taskTime.split(':').map(Number);\n    const [currHour, currMinute] = currentTime.split(':').map(Number);\n    \n    const taskMinutes = taskHour * 60 + taskMinute;\n    const currentMinutes = currHour * 60 + currMinute;\n    \n    // Buffer de 5 minutos\n    if (Math.abs(currentMinutes - taskMinutes) > 5) {\n      continue; // Pular esta tarefa\n    }\n  }\n  \n  // Criar um item para cada e-mail\n  for (const email of task.emails) {\n    output.push({\n      json: {\n        to: email,\n        subject: task.title,\n        text: task.description || 'Sem descrição',\n        html: `<h2>${task.title}</h2><p>${task.description || 'Sem descrição'}</p><hr><small>ID: ${task.id}</small>`,\n        taskId: task.id,\n        sendFrequency: task.sendFrequency\n      }\n    });\n  }\n}\n\nreturn output;"
      },
      "name": "Process Emails",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@yourdomain.com",
        "toEmail": "={{$json[\"to\"]}}",
        "subject": "={{$json[\"subject\"]}}",
        "text": "={{$json[\"text\"]}}",
        "html": "={{$json[\"html\"]}}"
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "Get Todos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Todos": {
      "main": [
        [
          {
            "node": "Filter Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Tasks": {
      "main": [
        [
          {
            "node": "Process Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Emails": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
